html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Truculenta', sans-serif;
    font-weight: 500;
}

canvas {
    display: block;
}

.info_light, 
.info_dark {
    width: 60%;
    margin: 0 5%;
}

.info_light {
    color: #ffffff;
}


h1 {
    font-weight: 900;
    margin: 30px 0px 0px 0px;
}

h2 {
    font-weight: 800;
    margin: 10px 0px 0px 0px;
}

.parameter {
    font-family: 'Truculenta', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
}

p, ul {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2px;
    list-style: none;
    margin: 0;
}





/* dat.GUI Styles */
.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg {
    color:none;
    text-shadow: none !important;
    font:Poppins, sans-serif;
    font-weight:bold;
    font-size:1vw;
}

.dg.main.a {
    width:33% !important;
}

.dg.main .close-button {
    background: rgba(100, 100, 100, 0.7);
    color: #fff;
    width:33vw !important;
    border:none;
    margin-top: 1px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

.dg.main .close-button:hover {
    background: rgba(60, 60, 60, 1);
    border: none;
}

.dg.a {
    float: right;
/*    margin-right: 4vw;*/
}
.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: rgba(40, 40, 40, 0.7);
    border: none;
    border-color:black;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: none;
border: 1px solid;
}

.dg .closed li.title {
    background: none;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: rgba(40, 40, 40, 0.7)
}

 
.dg .c input[type=text] {
    background: #e9e9e9;
    border:none;
  
}
 
.dg .c input[type=text]:hover {
    background: none;
}
 
.dg .c input[type=text]:focus {
    background: none;
/*    color: #555;*/
}
 
.dg .c .slider {
    background: none;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 10%;
    width: 80%;
}

.dg .c .slider:hover {
    background:none;
}

.dg .c .slider-fg {
    background: none;
    max-width: 100%;
    border-right: 2px solid #fff;
}

.dg .c .slider:hover .slider-fg {
    background: none;
}

.dg .cr.number input[type="text"] {
    color: inherit;
}

.dg .c input[type="text"] {
    background: none;
    border:1px solid rgba(150, 150, 150, 1);
    border-radius: 20%;
}

.dg .cr.number input[type=text] {
    width: 15%;
}


input:checked {
    background:none !important;
}

.property-name{
    color: #fff;
    font-family: 'Truculenta', sans-serif; 
    font-size: 1.6em;
    font-weight: 800;
}

.dg .cr.boolean,
.dg .cr.number,
.dg .cr.color {
    border:none;
}




